/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: calc(100% - 80px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 0px;
  width: calc(100% - 250px);
}
.home-section .wrapper{
  border: 1px soild #fff;
  position: relative;
  background: #121317;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.container{
  width: 60vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #21242b;
  border-bottom: 10px solid #18f98f;
}
.container span.num{
  color: #ffffff;
  display: grid;
  place-items: center;
  font-size: 1.5em;
}
.container span.text{
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}
.container i{
  color: #18f98f;
  font-size: 2.5em;
  text-align: center;
}
.table_header{
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(240, 240, 240);
}
.table_header p{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 1500px;
}

.header_fixed {
  min-height: auto;
  width: 100%;
  overflow: auto;
  border: 1px solid #dddddd;
}

.header_fixed thead th {
  position: sticky;
  top: 0;
  background-color: black;
  color: #e6e7e8;
  font-size: 15px;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}

td img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #edeef1;
}

tr:hover td {
  color: #44b478;
  cursor: pointer;
  background-color: #ffffff;
}

td .dot-button {
  border: none;
  padding: 7px 20px;
  border-radius: 10px;
  color: #e6e7e8;
  background: #000;
  cursor: pointer;
}
.hide{
  max-width: 100%;
  height: 100%;
  position: relative;
  margin-top: 1em;
  background-color: #F9FDF3;
  border-radius: 0.2rem;
  display: none;
}
.hide form{
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.hide button{
  font-size: 16px;
  border-radius: 5px; 
  color: #fff;
}
.hide button:hover{
  opacity: 0.8;
}
td .hide .btn-primary{
  background: grey;
  padding: 5px;
}
td .paid-btn{
  background: grey;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
td .paid-btn:hover{
  opacity: 0.8;
}
td .hide .btn-danger{
  background: red;
  padding: 5px;
}
td .hide .btn-warning{
  background: yellow;
  padding: 5px;
}

.hide button:hover{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1024px) {
  .wrapper{
    width: 85vw;
  }
  .container{
    height: 40vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper{
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container{
    height: 30vmin;
    width: calc(50% - 40px);
  }
}

@media (max-width: 420px) {
  .wrapper{
    gap: 15px;
  }
  .container{
    height: 25vmin;
    width: 100%;
  }
  .sidebar li .tooltip{
    display: none;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #21242b;
}
footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
