<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>Password</title>
    <link rel="stylesheet" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <body>
        <div class="box">
            <div class="form">
                <form action="/forgotPassword" method="POST" autocomplete="off">
                    <h2>Forgot Password</h2>
                    <div class="inputBox">
                        <input type="email" name="email" required>
                        <span>Email</span>
                        <i></i>
                    </div>
                    <input type="submit" value="Get link">
                    <div class="links">
                        <a href="login">Back to Sign in</a>
                    </div>
                </form>
            </div>
        </div>
        <% if ((typeof errors!="undefined" && typeof errors.email!="undefined") ? errors.email.msg: "") { %>
          <script>
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: "<%= errors.email.msg %>",
            })
            </script>
        <% } %>
        <% if (typeof errorMessage !=="undefined" ) { %>
          <script>
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: "<%= errorMessage %>",
            })
            </script>
        <% } %>
        <% if (typeof successMessage !== "undefined") { %>
          <script>
            swal({
              title: "Good job!",
              text: "<%= successMessage %>",
              icon: "success",
            });
            </script>
        <% } %>

        <script type="text/javascript">
          window.history.forward();
          function noBack() {
              window.history.forward();
          }
      </script>
    </body>
</html>